body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #f3f8fa;
    text-align: center;
    padding: 10px 0;
}
/* Estilo para imágenes dentro de las secciones de ejercicios */
section img {
    max-width: 30%; /* Ajusta la anchura máxima al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto original */
}
section img {
    max-width: 40%; /* Ajusta la anchura máxima al 80% del ancho del contenedor */
    height: auto;
}

